<a href="https://colab.research.google.com/github/KONREDDY-AKSHITH-REDDY/PRODUCT-BASED-TRAINING-SD2/blob/main/DAY4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ALPHABET NUMBER IN THE LIST OF ALPHABETS

print(ord(input("Enter a string:").lower())-96)

Enter a string:z
26

In [2]:
#ADD KEY TO THE ASCII'S AND PRINT ALPHABET
s=input();s1=s;c=0;n=int(input());s=s.lower()
if(ord(s)>96):
    if (ord(s)+n)>122:
        c=(ord(s)+n)-122
        if c>26:
            c%=26
        if ord(s1)>96:
            print(chr(96+c))
        else:
            print(chr(96+c).upper())
    else:
        print(chr(ord(s1)+n))

a
28
c

In [3]:
#STAR
n=int(input())
for i in range(n):
    print("* "*(i+1))

4
*
* *
* * *
* * * *

In [4]:
#DIAMOND STAR
n=int(input())
for i in range(n):
    print((n-i)*" "+(i+1)*"* ")
for i in range(n):
    print((i+2)*" "+(n-i-1)*"* ")

4
    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

In [6]:
#PRINT I NO.OF I'S
n=int(input())
s=0
for i in range(n):
    print((str(i+1)+(" "))*(i+1))

4
1
2 2
3 3 3
4 4 4 4

In [7]:
#PRINT I NO.OF I'S WITH ONLY MATHS
n=int(input());c=1
#METHOD 1:
for i in range(1,n+1):
    print(c*i);c+=10**(i)
#METHOD 2:
for i in range(1,n+1):
    print(((10**i)//9)*i)

4
1
22
333
4444
1
22
333
4444